<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="#">K-12</a>
   </div>
   <div>
   <% if current_student %>
   	<p class="navbar-text navbar-right">  <a href="#" class="navbar-link">Logout</a>
      </p>
      <p class="navbar-text navbar-right"><b>Signed in as current_student.email</b> </p>
    <% end %>   
   </div>
</div>